body {
    padding: 10rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
}

div {
    border: 1px solid black;
}

.my-ships {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 125px;
    height: 500px;
    gap: 10px;
    border: none;
    left: 700px;
}

.ship {
    background-color: black;
}