* {
    user-select: none;
}
h1 {
    text-align: center;
}

.content {
    padding: 5rem 10rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
}

.container > div {
    border: 1px solid black;
}

.player {
    display: flex;
    gap: 30px;
}

.ships {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-ships {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    border: none;
    height: 400px;
    padding-top: 30px;
}

.ship {
    background-color: black;
    border: none;
}

.toggle-button {
    position: absolute;
    bottom: 700px;
    left: 700px;
}